/* all tag通配符*/
*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.5625vw;
    /*通配符字体颜色*/
    font-family: "Microsoft Yahei";
}
html,
body{
    height: 100%;
    overflow: hidden;
}
/* music */
.music{
    position: fixed;
    top: 3vh;
    right: 4vw;/*vw是指css3里新的单位，viewpoint width的缩写，是视窗宽度，1vw等于视窗宽度的1%*/
    z-index: 5;
    width: 15vw;
    height: 15vw;
    /*设置边框*/
    border: 4px solid #ef1639;
    border-radius: 50%;
    background: #fff;
}
/*后代选择器*/
.music > img:first-of-type{
    /*绝对定位*/
    position: absolute;
    top: 24%;
    right: 2.5%;
    width: 28.421%;
    z-index: 1;
}/*拨盘指针*/
.music>img:last-of-type{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 79%;
    z-index:0 ;
}/*碟片*/
.music>img.play{
    -webkit-animation: music_disc 4s linear infinite;
              animation:music_disc 4s linear infinite;
}
@-webkit-keyframes music_disc {
    0%{
        -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
    }
}
@keyframes music_disc {
    0%{
        -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
    }
}

/* page bg图层背景*/
.page{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page > .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* page1*/
#page1{
    display: block;
}/*隐藏page1图*/
#page1 > .bg{
    background:url("../images/p1_bg.jpg") no-repeat center center;
    background-size: 100%;
}
#page1 > .pl_lantern{
    position: absolute;
    top: -3.4%;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../images/p1_lantern.png") no-repeat center bottom;
    background-size: 100%;
    width: 45vw;
    height: 72.2vh;
    font-size: 3.506rem;
    color: #fff;
    padding-top:31vh;
    text-align: center;
    /*自动适应*/
    -webkit-box-sizing:border-box;/*浏览器兼容性适配*/
             box-sizing:border-box;
}
/*伪类，实现灯笼闪烁*/
#page1>.pl_lantern:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:-1 ;
    content: "";/*对于伪类来说无论如何必须要有东西*/
    margin: auto;
    width: 30vw;
    height: 30vw;
    background: #d60b3b;
    opacity: 0.5;
    border-radius:50% ;/*让背景颜色为圆形*/
    box-shadow: 0 0 10vw 10vw #d60b3b;/*阴影部分水平偏移为0，右边偏移为0：内衬10vw 外模糊10vw 最后是阴影颜色*/
    -webkit-box-shadow:0 0 10vw 10vw #d60b3b;
    -webkit-animation:p1_lantern 0.5s infinite alternate;
             animation:p1_lantern 0.5s infinite alternate;

}/*before是伪类*/
@keyframes p1_lantern {
    0%{
        opacity: 0.5;
        -webkit-transform: scale(0.8,0.8);
                 transform: scale(0.8,0.8);
    }
    100%{
        opacity: 1;
    }
}/*红灯笼闪烁*/
@-webkit-keyframes p1_lantern {
    0%{
        opacity: 0.5;
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
    100%{
        opacity: 1;
    }
}
#page1>.p1_imooc{
    position: absolute;
    right: 0;
    bottom: 9vh;
    left: 0;
    background: url("../images/p1_imooc.png") no-repeat center center;
    background-size:100% ;
    width: 27.656vw;
    height: 18.63vh;
    margin: auto;
}/*让小慕图标适配位置*/
#page1>.p1_words{
    font-size: 2.134rem;
    position: absolute;
    right: 0;
    bottom: 6.5217vh;
    left: 0;
    text-align: center;
    color:#231815;
}/*小慕图标下面的文字适配*/

/* page2*/
#page2{
    display: none;
    -webkit-transition: 0.5s;
             transition: 0.5s;
}/*隐藏page1图*/
#page2.fadeOut{
    opacity: 0.3;
    -webkit-transform: translate(0,-100%);
             transform: translate(0,-100%);

}/*页面2退出效果*/
#page2 > .p2_bg_loading{
    z-index: 4;
    background: #ef1639;
    -webkit-animation: p2_bg_loading 1s linear forwards;
             animation: p2_bg_loading 1s linear forwards;
}
@keyframes p2_bg_loading {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes p2_bg_loading {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#page2 > .bg{
    background:url("../images/p2_bg.jpg") no-repeat center center;
    background-size: 100%;
}
#page2 > .p2_circle{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: url("../images/p2_circle_outer.png")no-repeat center center;
    background-size: 100%;
    width: 59.375vw;
    height: 59.375vw;
    /*给page2加动画效果*/
    -webkit-animation: p2_circle_outer 1s linear 3s infinite;
             animation: p2_circle_outer 1s linear 3s infinite;
}
@keyframes p2_circle_outer{
    0%{
        -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-360deg);
                 transform: rotate(-360deg);
    }
}
@-webkit-keyframes p2_circle_outer {
    0%{
        -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-360deg);
                 transform: rotate(-360deg);
    }
}
#page2 > .p2_circle:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    content: "";
    background: url("../images/p2_circle_middle.png")no-repeat center center;
    background-size: 100%;
    width: 45.625vw;
    height: 45.625vw;
    /*给page2加动画效果*/
    -webkit-animation: p2_circle_middle 1s linear 2s infinite;
             animation: p2_circle_middle 1s linear 2s infinite;
}
@keyframes p2_circle_middle {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
@-webkit-keyframes p2_circle_middle {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
#page2 > .p2_circle:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    content: "";
    background: url("../images/p2_circle_inner.png")no-repeat center center;
    background-size: 100%;
    width: 39.9375vw;
    height: 39.9375vw;

    /*给page2加动画效果*/
    -webkit-animation: p2_circle_inner 1s linear 1s infinite;
             animation: p2_circle_inner 1s linear 1s infinite;
}
@keyframes p2_circle_inner {
      0%{
          -webkit-transform: rotate(0deg);
                   transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(-1080deg);
                   transform: rotate(-1080deg);
      }
  }
@-webkit-keyframes p2_circle_inner {
    0%{
        -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-1080deg);
                 transform: rotate(-1080deg);
    }
}
#page2 > .p2_2018{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("../images/p2_2018.png")no-repeat center center;
    background-size: 100%;
    width: 27.5vw;
    height: 6.24vh;
}

/* page.*/
#page3{
    display: none;
    /*实现过渡效果*/
    -webkit-transition: 0.5s;
             transition: 0.5s;
}/*隐藏page3图*/
#page3.fadeIn{
    -webkit-transform: translate(0,-100%);
             transform: translate(0,-100%);
}
#page3 > .bg{
    background:url("../images/p3_bg.jpg") no-repeat center center;
    background-size: 100%;
}
#page3 > .p3_logo{
    width: 34.6875vw;
    height: 10.327vh;
    position: absolute;
    top: 7.82vh;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../images/p3_logo .png")no-repeat center center;
    background-size: 100%;
}
#page3 > .p3_title{
    width: 48.125vw;
    height: 56vh;
    position: absolute;
    top: 20vh;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    background: url("../images/p3_title.png")no-repeat center center;
    background-size: 100%;

    -webkit-animation:p3_title 0.5s linear 1s forwards;
             animation:p3_title 0.5s linear 1s forwards;
}
@keyframes p3_title {
    0%{
        opacity: 0;
        -webkit-transform: scale(0.3,0.3);
                 transform: scale(0.3,0.3);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);
    }
}
@-webkit-keyframes p3_title {
    0%{
        opacity: 0;
        -webkit-transform: scale(0.3,0.3);
        transform: scale(0.3,0.3);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);
    }
}
#page3 > .p3_second{
    width: 22.8125vw;
    height: 43.652vh;
    position: absolute;
    top: 25.48vh;
    left: 3.75vw;
    margin: auto;
    opacity: 0;
    background: url("../images/p3_couplet_second.png")no-repeat center center;
    background-size: 100%;

    -webkit-animation: p3_second 0.5s linear 0.5s forwards;
             animation: p3_second 0.5s linear 0.5s forwards;
}
@keyframes p3_second {
    0% {
        opacity: 0;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
}

@-webkit-keyframes p3_second {
    0% {
        opacity: 0;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
}
#page3 > .p3_first{
    width: 22.8125vw;
    height: 43.652vh;
    position: absolute;
    top: 25.48vh;
    right: 3.75vw;
    margin: auto;
    opacity: 0;
    background: url("../images/p3_couplet_first.png")no-repeat center center;
    background-size: 100%;

    -webkit-animation: p3_first 0.5s linear 0.5s forwards;
             animation: p3_first 0.5s linear 0.5s forwards;
}
@keyframes p3_first {
    0% {
        opacity: 0;
        -webkit-transform: scale(2, 2);
                 transform: scale(2, 2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.9, 0.9);
                 transform: scale(0.9, 0.9);
    }
}

@-webkit-keyframes p3_first {
    0% {
        opacity: 0;
        -webkit-transform: scale(2, 2);
                 transform: scale(2, 2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
}
#page3 > .p3_blessing{
    width: 32vw;
    height: 32vw;
    position: absolute;
    right: 0;
    bottom: 6vh;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: url("../images/p3_blessing.png")no-repeat center center;
    background-size: 100%;

    -webkit-animation:p3_blessing 2s linear infinite;
             animation:p3_blessing 2s linear infinite;
}
@keyframes p3_blessing {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes p3_blessing {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}